.nav{
    display:    flex;
    padding:    1rem;
    background-color: var(--primary-color);
    flex: 0 0 auto;
    box-sizing: border-box;
}

.actions{
    --gap:              1rem;
    display:            flex;
    justify-content:    center;
    align-items:        center;
    margin:             0 auto;
    gap:                1rem;
}

.action, .dimensionIcon{
    font-size: 2rem;
    color: var(--tertiary-color);
    transition: color 0.5s;
}

.dimensionIcon{
    margin-right: -1rem;
}

.action:hover{
    cursor: pointer;
    color: var(--highlight-color);
}

.dimensionInput{
    width:          3ch;
    padding:        0.5ch;
    border:         none;
    border-bottom:  3px solid var(--tertiary-color);
    border-radius:  5px;
    outline:        none;
    font-size:      1rem;
    color:          var(--clear-color);
    text-align:     center;
    background-color: transparent;
    transition: color .3s;
}

.dimensionInput[disabled]{
    color: var(--tertiary-color);
}

@media (max-width: 600px) {
    .nav{
        height: 3rem;
    }
    .action, .dimensionIcon{
        font-size:      1.6rem;
    }

    .dimensionInput{
        font-size:      .8rem;
    }
}